.captchaWrap{
  .at-input__title{
    width:36px;
    display: flex;
    justify-content: center;
    .inputImg{
      width:36px;
      height:36px;
      display: inline-block;
    }
  }
}
.at-tabs__body{
  transform: none;
  will-change: auto;
}
